<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ionictabs842102" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ARPA</name>
  <description>&#xD;&#xD;
        Allergic Reaction Product Alert.&#xD;&#xD;
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">&#xD;&#xD;
      Ionic Framework Team&#xD;&#xD;
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <icon height="76" src="icons/icon-alergias.png" width="76"/>
  </platform>
  <plugin name="com.phonegap.plugins.facebookconnect" spec="^0.11.0">
    <variable name="APP_ID" value="367156356826931"/>
    <variable name="APP_NAME" value="ARPA"/>
  </plugin>
  <plugin name="org.apache.cordova.device" spec="^0.3.0"/>
  <plugin name="org.apache.cordova.console" spec="^0.2.13"/>
</widget>