<ion-view>
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation"
                ng-click="selectCtrl.startApp()" ng-if="!selectCtrl.slideIndex">
            Skip Intro
        </button>
        <button class="button button-positive button-clear no-animation"
                ng-click="selectCtrl.previous()" ng-if="selectCtrl.slideIndex > 0">
            Previous Slide
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-positive button-clear no-animation"
                ng-click="selectCtrl.next()" ng-if="selectCtrl.slideIndex != 2">
            Next
        </button>
        <button class="button button-positive button-clear no-animation"
                ng-click="selectCtrl.startApp()" ng-if="selectCtrl.slideIndex == 2">
            Start using ARPA
        </button>
    </ion-nav-buttons>
    
    <ion-slide-box id="slide-box" on-slide-changed="selectCtrl.slideChanged(index)">
      <ion-slide>
        <div>
            <h3 style="margin-top:10%">Welcome to ARPA</h3>
            </div>
        <div style="display:table-cell;vertical-align:middle;">
          <div id="logo" style="margin-left:auto;margin-right:auto;margin-top:10%">
            <img src="./img/icon.png">
          </div>
            </div>
        <div style="margin-top:10%">
        <br>
        <p>
          Your daily health passport that actually helps you.
        </p>
        <p>
          We hope you enjoy the experience.
        </p>
        </div>
      </ion-slide>
      <ion-slide>
        <h3 style="margin-top:10%">Using ARPA</h3>
        <div style="margin-top:10%">
            <h5>What you can get from the app:</h5>
            <ol>
                <li>Allergic Reaction Alerts</li>
                <li>Stay awesome</li>
                <li>There is no step 3</li>
            </ol>
        </div>
      </ion-slide>
      <ion-slide>
        <video width="300" height="600">
            <source src="./video/allergicprofile.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
     </ion-slide>
    </ion-slide-box>
</ion-view>

