<ion-view>
    <ion-slide-box id="slide-box" show-pager="{{selectCtrl.showPager}}" on-slide-changed="selectCtrl.slideChanged(index)">
      <ion-slide>
        <video id="video1" width="300" height="600" loop>
            <source src="./video/allergicprofile.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
     </ion-slide>
      <ion-slide>
        <video id="video2" width="300" height="600" loop>
            <source src="./video/selection.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
     </ion-slide>
    </ion-slide-box>
</ion-view>

