<ion-view view-title="Allergens" class="over-background" on-double-tap="recognition.start()" on-long-press="activateAccessibility(2)">
    <ion-content class="tabbed" delegate-handle="allergyScroll" ng-style="push_down" has-bouncing="true">   
        <div class="sexy-line"></div>
        
        <div class="allergies">
            <h1>{{ 'ALLERGIES' | translate }}</h1>
            <ul class="allergens">
                <li class="center-item-content" ng-repeat="allergen in allergens">
                    <img class="{{allergySymbol}}" ng-src="{{allergen.src}}"  ng-click="removeAllergens($index, allergen)"> <!-- TODO error in console, dunno why -->
                    <span class="allergen-name">{{allergen.name}}</span>
                </li>
                <li class="center-item-content">
                    <img ng-click="plus_allergs()" ng-src="{{extra_icons_allergs}}">
                    <span>{{editAllergens}}</span>
                </li>
            </ul>
        </div>
        <div class="to-add-allergs adding" ng-hide="value_allergies">
            <ion-scroll direction="x" class="symbol-scroller available-scroller no_block" has-bouncing="true">
                <div class="allergs center-item-content" collection-repeat="allergen in not_selected_allergens" item-height="150" item-width="19%" >
                    <img ng-src="{{allergen.src}}" ng-click="addAllergens($index, allergen)">
                    <p>{{allergen.name}}</p>
                </div>
            </ion-scroll>
        </div>

        <div class="sexy-line"></div>
        
        <div class="intolerances">
            <h1>{{ 'INTOLERANCES' | translate }}</h1>
            <ul class="intolerance">
                <li class="center-item-content" ng-repeat="intolerance in intolerances">
                    <img class="{{intoleranceSymbol}}" ng-src="{{intolerance.src}}"  ng-click="removeIntol($index, intolerance)">
                    <p class="allergen-name">{{intolerance.name}}</p>
                </li>
                <li class="center-item-content">
                    <img ng-click="plus_into()" ng-src="{{extra_icons_intol}}">
                    <span>{{editIntolerances}}</span>
                </li>
            </ul>
        </div>
        <div class="to-add-into"  ng-hide="value_intolerances">
           <ion-scroll direction="x" class="symbol-scroller available-scroller no_block" has-bouncing="true">
                <div class="intolers center-item-content" collection-repeat="intolerance in not_selected_intolerances" item-height="150" item-width="19%">
                    <img ng-src="{{intolerance.src}}" ng-click="addIntol($index, intolerance)">
                    <p>{{intolerance.name}}</p>
                </div>
            </ion-scroll>
        </div>

        <div class="sexy-line"></div>
    </ion-content>
</ion-view>