<ion-view view-title="Profile"   class="over-background">
    <ion-content class="tabbed" ng-style="push_down">

        <div class=slider>
            <h1>Allergy Selector</h1>
            <ion-slide-box>

                <ion-slide>
                   <h2> <center>Milk</center></h2>
                </ion-slide>

                <ion-slide>
                    <h2><center>Shrimp</center></h2>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class =bot>
            <div style="position:absolute;width:20%;height:20%;top:55%;left:3%">
                <input class="intolerenceBtn" type="image" src="./img/intol.png">
            </div>
            <div style="position:absolute;width:20%;height:20%;top:55%;right:10%">
                <input class="allergicBtn" type="image" src="./img/allergic.png">
            </div>
        </div>
    </ion-content>
</ion-view>
