<ion-view view-title="Applications" on-double-tap="recognition.start()" on-long-press="activateAccessibility(3)">
  <ion-content class="tabbed">

    <div class="sexy-line"></div>
    <div class="row application">
      <div class="col col-offset-5 application-img">
        <img src="./img/continente.png">
      </div>
      <div class="col col-50 application-label">
          Continente Mobile
      </div>
      <div class="col col-offset-5">
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </div>
    </div>
    <div class="sexy-line"></div>
    <div class="row application">
      <div class="col col-offset-5 application-img">
        <img src="./img/farmacia.png">
      </div>
      <div class="col col-50 application-label">
          Farmácia Mobile
      </div>
      <div class="col col-offset-5">
          <label class="toggle toggle-positive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </div>
    </div>
    <div class="sexy-line"></div>

  </ion-content>
</ion-view>
