<ion-view view-title="Definitions" on-double-tap="recognition.start()" on-long-press="activateAccessibility(4)">
  <ion-content class="tabbed" has-bouncing="true" ng-style="push_down">

    <div class="sexy-line"></div>
    
    <div class="row">
      <div class="col">
        <h1>{{ 'LANGUAGE' | translate }}<h1>
      </div>
    </div>
    <div class="row language-label">
      <div class="col">
        <img ng-src="./img/pt.jpg" ng-click="changeLanguage('pt')">
        <span>{{ 'LANGUAGE-PT' | translate }}</span>
      </div>
      <div class="col">
        <img ng-src="./img/en.jpg" ng-click="changeLanguage('en')">
        <span>{{ 'LANGUAGE-EN' | translate }}</span>
      </div>
    </div>

    <div class="sexy-line"></div>

    <div class="row">
      <div class="col">
        <h1>{{ 'GENERAL' | translate }}<h1>
      </div>
    </div>

    <div class="row">
      <div class="col-75 notification-label">
        {{ 'NOTIFICATIONS' | translate }}
      </div>
      <div class="col">
          <label class="toggle toggle-positive">
            <input type="checkbox" ng-model="notificationstoggle" ng-change="toggleNotifications()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
      </div>
    </div>

    <div class="sexy-line"></div>

    <div class="row">
      <div class="col">
        <button class="button button-block button-light" ng-click="modal.show()" ng-hide="sign_in_hide">
          SIGN IN
        </button>
      </div>
      <div class="col">
        <button class="button button-block button-light" ng-click="logout()">
          SIGN OUT
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
