<div class="profile" style="height:25%" on-long-press="activateAccessibility()">
  <div class="row">
    <div class="col col-50 col-offset-25">
      <img class="circle" ng-src="{{userpicture}}"/>
    </div>
  </div>

  <div class="row">
    <div class="col col-50 col-offset-25 profile-name">
      {{username}}
    </div>
  </div>
</div>

<div class="row my-tabs" style="height:8%">
  <div class="col col-33">
    <a href="#/tab/allergens">{{ 'TAB1' | translate }}</a>
  </div>
  <div class="col col-33">
    <a href="#/tab/applications">{{ 'TAB2' | translate }}</a>
  </div>
  <div class="col col-33">
    <a href="#/tab/definitions">{{ 'TAB3' | translate }}</a>
  </div>
</div>

<ion-nav-view name="tab" style="height:67%"></ion-nav-view>