<ion-view view-title="Continente">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="vm.payload.inKeyword" ng-enter="vm.search()">
      </label>
    </div>
    <div class="list">
      <a class="item item-thumbnail-left item-text-wrap" ng-repeat="product in results" ng-if="product.UrlLargeImage">
        <img ng-src="{{ product.UrlLargeImage }}">
        <h2>{{ product.Name }}</h2>
        <p>{{ product.Description }}</p>
        <h3 id="price_tag">{{ product.RetailPrice }}€</h3>
      </a>
      <div ng-repeat="product in results" ng-if="!product.UrlLargeImage" class="item">
        {{ product.Name }}
      </div>
    </div>
  </ion-content>
</ion-view>
