<ion-view title="Home">
    <ion-content padding="true">
        <!--<div class="container">
        <h2>Home Page</h2>
        <p>Here's the main route for the app.</p>-->
        <div class="logo-holder">

        </div>
        <div class="buttons-block">
            <div class="centered">
                <ul>
                    <button class="button button-outline button-light">
                        Profile
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light">
                        Allergens
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light">
                        Acessibility
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light">
                        Definitions
                    </button>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
