<ion-view title="Home">
<ion-content ng-controller="homeController" padding="true">
        <!--<div class="container">
        <h2>Home Page</h2>
        <p>Here's the main route for the app.</p>-->
        <div class="logo-holder">
            <img class="logo" src="./img/logo-arpa-nome.svg" />
        </div>
        <div class="buttons-block">
            <div class="centered">
                <ul>
                    <button class="btn btn-facebook" ng-click="fbLogin()">
                        <i class="fa fa-facebook"></i> 
                        | Connect with Facebook
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light width-150px">
                        <a class="thick">PROFILE</a>
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light width-150px">
                        <a class="thick">ALLERGIES</a>
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light width-150px">
                        <a class="thick">ACCESSIBILITY</a>
                    </button>
                </ul>
                <ul>
                    <button class="button button-outline button-light width-150px">
                        <a class="thick">DEFINITIONS</a>
                    </button>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
